@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 34, 34, 34;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 34, 34, 34;
  }
}

body {
  background-color: rgba(var(--background))
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
