@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes blink {
  0%,
  50% {
    opacity: 1; /* Visible */
  }
  51%,
  100% {
    opacity: 0; /* Invisible */
  }
}

.blink {
  animation: blink 1s step-end infinite;
}
